* {
    @apply font-pregular;
}

p {
    @apply text-body my-4;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-display: swap;
}
