* {
    @apply font-pregular;
}

p {
    @apply text-body my-4;
}

@font-face {
    font-family: 'Poppins';
    src: url('assetslar.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('assetsum.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('assetsBold.ttf') format('truetype');
    font-display: swap;
}